<style>
.preloader-wrapper {
    width: 150px!important;
    height: 150px!important;
}
</style>

<script>
function f(roomname,num) {
console.log(roomname+" "+num);
console.log(TracksURLs);
console.log(TracksURLs[num]);


  var xhr = new XMLHttpRequest();
  xhr.responseType = 'blob';
  xhr.onload = function(event) {
    var blob = xhr.response;
  };
  xhr.open('GET', TracksURLs[num]);
  xhr.send();
  
}
</script>
<br>
<div class="row">
<div class="col s10">
 <a href="#" data-activates="slide-out" class="button-collapse" style="padding:15px;"><i class="material-icons">chat_bubble</i></a>
</div>
  <div class="col s2">
  Download Plugin (.dll) : 
 <a href="https://firebasestorage.googleapis.com/v0/b/wejust-def99.appspot.com/o/WeJustPlugin.dll?alt=media&token=57006e88-bd1d-4949-84d9-7b5d26012258" download><i class="material-icons">input</i></a>

 
</div> 
</div>

 <div class="row">
   
<div style="overflow:hidden;padding:15px;">
<div id="wave_div">
    <div id="row-before-wave" class="row">
        <div class="col s12 center">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row-after-wave"></div>

</div>

    <div class="row">
  <input ng-show ="AllDataLoaded" type="range" min="1" max="{{maxSize*10000}}" ng-model="timeCursor" ng-change="placeCursor(timeCursor/10000);isPlaying = false" />
  </div>
   <div class="row">
    <button ng-show="!isPlaying && AllDataLoaded" class="btn btn-primary" ng-click="playAllTracks(timeCursor/10000); isPlaying = !isPlaying">
      <i class="material-icons">replay</i> 
    </button>
    <button ng-show="isPlaying && AllDataLoaded" class="btn btn-primary" ng-click="pauseAllTracks();isPlaying = !isPlaying">
      <i class="material-icons">pause</i>  
    </button>
    <button ng-show="!isPlaying && AllDataLoaded" class="btn btn-primary" ng-click="playAllTracks(currentTime);isPlaying = !isPlaying">
      <i class="material-icons">play_arrow</i> 
    </button>

   <div class="chip">
      {{currentTime | number:2}}s
    </div>
     
    </div>


  <div class="row">
  <div ng-show="!isPlaying && AllDataLoaded" class="chip">
      {{timeCursor/10000 | number:2}}s
  </div>
   </div>


</div>
    </div> 
      <ul id="slide-out" class="side-nav">

    <li> <span>Chat </span></li>
        <li><div class="divider"></div></li>
	
	<li ng-repeat="message in chat track by $index"> <div> {{message.user}} : {{message.message}} </div> </li>
	<form ng-submit="message(message_value)">
        <div class="input-field col s6">
		<input placeholder="write here" ng-model="message_value" type="text" class="validate">
		<label for="first_name">Message</label>
        </div>
	
	<input type="submit" id="submit" value="Submit" hidden/>
	</form>
  
	</ul>

  
  
  <script>
  
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  
    $('.button-collapse').sideNav({
      menuWidth: 500, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );
  </script>
