<style>
.preloader-wrapper {
    width: 150px!important;
    height: 150px!important;
}
</style>

<script>
function f(roomname,num) {
console.log(roomname+" "+num);
console.log(TracksURLs);
console.log(TracksURLs[num]);


  var xhr = new XMLHttpRequest();
  xhr.responseType = 'blob';
  xhr.onload = function(event) {
    var blob = xhr.response;
  };
  xhr.open('GET', TracksURLs[num]);
  xhr.send();
  
}
</script>


<div style="overflow:hidden;padding:15px">
<div id="wave_div">
    <div id="row-before-wave" class="row">
        <div class="col s12 center">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row-after-wave"></div>
</div>

    <div class="row">
  <input ng-show ="AllDataLoaded" type="range" min="1" max="{{maxSize*10000}}" ng-model="timeCursor" ng-change="placeCursor(timeCursor/10000);isPlaying = false" />
  </div>
    <button ng-show="!isPlaying && AllDataLoaded" class="btn btn-primary" ng-click="playAllTracks(timeCursor/10000); isPlaying = !isPlaying">
      Play {{timeCursor/10000 | number:2}}s
    </button>
    <button ng-show="isPlaying && AllDataLoaded" class="btn btn-primary" ng-click="pauseAllTracks();isPlaying = !isPlaying">
      Pause {{currentTime | number:2}}s
    </button>
    <button ng-show="!isPlaying && AllDataLoaded" class="btn btn-primary" ng-click="playAllTracks(currentTime);isPlaying = !isPlaying">
      Resume
    </button>

</div>

<div>
chat
</div>
